body {
    background-color: #152238;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    background-color: gray;
    position: absolute;
    border: 1px solid;
}

.config {
    position: absolute;
    margin-left: 5px;
    padding-top: 510px;
}

.configbuttons {
    margin: 5px;
}
